.item-details {
  text-align: center;
  font-size: 15px;
  img {
    max-width: 500px;
    max-height: 500px;
  }

  ul {
    list-style-type: none;
  }

  .uk-card {
    height: 500px;
    width: 775px;
  }
}
